<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title>Infomation</title>
</head>
<body>
    <img src="http://i.imgur.com/CG3CuQP.jpg" width="430" height="500">
    <a target="_blank" href="https://www.facebook.com/quang.lee.75098">Link Facebook</a>
    <h1>Full name: Lê Anh Quang</h1>
    <h3>Birthday: 1998</h3>
    <h3>Phone: 0988945310</h3>
    <h3>Job: Study</h3>
    <h3>Quote: không có gì ngoài đẹp troai :)))</h3>
    <h3>Number of visistor:</h3>
    {{ number_of_visistor }}
</body>
</html>